{
    "arrowParens": "avoid",
    "jsxBracketSameLine": true,
    "tabWidth": 2,
    "bracketSpacing": false,
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "useTabs": false,
    "proseWrap": "always",
    "parser": "babel-flow"
}
